.container {
    display: flex;
}

div.left-panel {
    width: 60vw;
    height: 100vh;
    background: pink url(images/leaves.avif);
    margin-right: 20px;
}
form > div > div {
    display: flex;
    gap: 20px;
    width: 400px;
}

.main-form {
    background-color: beige;
}

input {
    width: 250px;
    padding: 0 10px;
    margin: 0;
}
